<a href="/" class="faslink"><i class="fas fa-chevron-left"></i></a>
<style>
  .fas {
    margin-top: 1em;
    font-size: 33px;
  }

  .faslink:link,
  .faslink:visited {
    text-decoration: none !important;
  }
</style>